*{
font-family:monospace;
box-sizing:border-box;
}
html{
  scroll-behavior: smooth;
}

body{
  background-color: #000;
  margin: 0;
  width: 100%;
  
}
nav{
  width: 100%;
  line-height: 50px ;
  justify-content: space-between;
  display: flex;
  background-color: gold;
}
nav .logo{
font-size: 38px;
-webkit-text-stroke: .5px  red;
margin: 15px;
width: 35%;
font-weight: 900;
}
nav ul{
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
}
nav ul li{
  font-size: 19px;
  color: #fff;
  list-style: none;
  margin-right: 25px;
  width: 20%;
  text-align: center;
  /* border: 1px solid red; */
}
nav ul li a{
  text-decoration: none;
  color: #000;
  position: relative;
}
nav ul li a::after{
content: "";
width: 0;
height: 3px;
background-color: red;
position: absolute;
left: 0;
bottom: -6px;
transition: .2s;
}
nav ul li a:hover::after{
width: 100%;
}

/*#home */
#home{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* border: 1px solid red; */
}
#home .words {
  font-size: 50px;
  color: #fff;
  margin-left: 60px;
  margin-top: 19px;
  width: 50%;
  height: 70%;
  line-height: 1.2;
  /* border: 1px solid red; */
}
#home p span{
  -webkit-text-stroke: .5px gold;
  font-weight: 900;
  color: #ff004f;
}
.quote{
  font-size: 20px;
  color: gold;
  text-align: center;
  font-weight: 300;
}
.photo{
  width: 80%;
  height: 50vh;
  border-radius: 10%;
background-image:url(images/selfie.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.photocover{
  width: 50%;
  height: max-content;
  padding: 30px;
}




/* ------ about me ------ */
#main{
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  padding: 40px 0;
  /* display: none; */
}
 
.photocover2{
    width: 40%;
    height: max-content;
    padding: 10px;
    padding-left: 50px;
  }
  .photo2{
    border-radius: 5%;
    width: 90%;
    height: 70vh;
     background-image:url(images/profile1.jpg);
     background-size: cover;
     background-repeat: no-repeat;
background-position: center;
  }
#main .content{
  flex-basis: 50%;
  font-size: 16px;
}
.sub-title{
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.tab-titles{
  display: flex;  
}
.tab-link{
  margin-right: 50px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}
.tab-link::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: red;
  transition: .3s;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.tab-link.active:hover::after{
  width: 100%;
}
.tab-content ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-content ul li span{
  color: red;
  font-size: 17px;
}
.tab-content{
  display: none;
}
.tab-content.active{
  display: block;
}

/* ------services----- */
#services{
  padding: 30px 0;
  color: white;
  margin: 50px;
  height: 100%;
}
.service-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 40px;
  margin-top: 40px;
  
}
.service-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
 .title{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}
.service-list div{
  font-size: 15px;
  font-weight: 300;
  border-radius: 10px;
  background: #262626;
  padding: 40px;
  transition: background .5s, transform .5s;
}
.service-list div:hover{
background:#bf2656 ;
transform: translateY(-15px);
}
.service-list a{
  text-decoration: none;
  color: rgb(2, 2, 2);
  display: inline-block;
  margin-top: 20px;
}

/* ------portfolio----- */
#portfolio{
  color: #fff;
  margin: 50px;
  padding: 40px 0;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 40px;
  margin-top: 40px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: 1px solid blue;
}
.work:hover img{
  transform: scale(1.1);
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform .5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 15px;
  transition: height .5s;
}
.layer h3{
  font-weight: 600;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #255;
  text-decoration: none;
  font-size: 15px;
  line-height: 50px;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover .layer{
  height: 100%;
}
.btn{
  text-decoration: none;
  border: 1px solid #ff004f;
  color: #fff;
  background-color: #000;
  font-size: 15px;
  border-radius: 5px;
  padding: 14px 50px;
  display: block;
  margin: 50px auto;
  width: fit-content;
  transition: background .5s;
}
.btn:hover{
  background-color: #ff004f;
}

/* -------contacts-------- */
.row{
  width: 100%;
  display: flex;
  
}
.contact-left{
  flex-basis: 35%;
  margin-left: 10px;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
  color: white;
}
.contact-left p i{
 margin-right: 15px;
 color: #ff004f;
 font-size: 26px;
}
.socials{
  margin-top: 30px;
}
.socials a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform .5s;
}
.socials a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.btn2{
  display: inline-block;
  background: #ff004f;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
form .btn2:hover{
  border: 1px solid white;
  border-radius: 20px;
  background: #000;
  color: #fff;
}
#msg {
  transition: opacity 0.5s ease;
}

/* .swal2-popup {
  width: 400px !important;  
  height: 500px !important; 
  font-size: 1rem !important; 
} */

.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: gold;
  font-weight: 400;
  margin-top: 20px;
  color: #000;
  font-size: 15px;
}
.copyright i{
  color: #ff004f;
}

/* ------- media queries for small screen ------- */
nav .fa-solid{
  display: none;
}
hr{
  margin: 0 10%;
}
@media (max-width:990px){
  
  nav ul li{
    font-size: 18px;
    margin-right: 15px;
    width: 25%;
    text-align: center;
  }
  #home .words{
    font-size: 40px;
    margin-top: 10px;
  }
  #home{
    display: flex;
  }
  #home .photocover{
    width: 60%;
    margin-right: 0px;
    /* border: 1px solid red; */
    
  }
  .photo{
    width: 100%;
    height: 70vh;
    border-radius: 5%;
    background-image:url(images/selfie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .photocover2{
    /* border: 1px solid rgb(35, 2, 220); */
    width: 60%;
    margin-top: 7%;
    padding: 5px;
  }
  .photo2{
    height: 70vh; 
  }
}

@media only screen and (max-width:600px){
  nav{
    width: 100%;
    margin: 0;
    line-height: 40px;
  }
  nav .fa-solid{
    display: block;
    font-size: 30px;
    right: 25px;
  }
  nav .menu{
   margin-right: 20px;
    margin-top: 3%;
  }
  nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
  }
  nav ul{
    background-color: #ff004f;
    position: fixed;
    right: -200px;
    top: 0;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    flex-wrap: wrap;
    margin: 0;
    z-index: 2;
    transition: right .5s;
  }
  nav ul li{
    display: block;
    margin: 25px;
  }
  nav .logo{
    width: 70%;
    /* text-align: center; */
    text-transform: uppercase;
  }
 

  #home{
    width: 100%;
    height: 100%;
    /* display: flex; */
    flex-wrap: wrap;
    /* border: 1px solid rgb(35, 2, 220); */
  }
  
   #home .words {
  margin-left: 40px;
  width: 100%;
  /* border: 1px solid rgb(35, 2, 220); */
}

  .photo{
  width: 250px;
  padding: 0px;
  height: 60vh;
  border-radius: 50%;
  background-image:url(images/profile1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  .photocover{
    padding: 0;
  margin: 40px;
  }
  

  /* <---------about--------> */
  .sub-title{
    font-size: 35px;
  }
  .photo2,.content{
    flex-basis: 100%;
  }

  .content{
    width: 100%;
  }
  .photo2 {
    display: none;
  }
  .photocover2{
    display: none;
  }
  
  .content{
    width: 100%;
    margin: 0px;
    padding-left: 1px;
  }
  #main{
    /* border: 1px solid red; */
    height: 100%;
    padding: 10px;
    overflow: hidden;
    
  }
  #main .abt{
    /* text-align: center; */
  }

  .tab-link{
  margin-right: 30px;
  
 
}
  
  #portfolio{
  margin: 30px;
  padding: 20px 0;
}

.work-list{
  height: 150vh;
  }

 #services{
    margin-top: 10px;
    /* border: 1px solid red; */
  }

  #services{
  padding: 20px 0;
  margin: 30px;
}

  .row{
    display: block;
  }
  .contact-left{
    flex-basis: 100%;
  }
  .contact-right{
    flex-basis: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .copyright{
    padding: 15px 0;
  }
} 
#msg{
  color: green;
  font-size: 15px;
  display: block;
  margin-top: -20px;
}